[*]
charset = utf-8
end_of_line = lf
indent_style = space
max_line_length = 160
insert_final_newline = true
trim_trailing_whitespace = false

[*.{rs,py,toml}]
tab_width = 4
indent_size = 4
indent_style = space

[*.{js,mjs,jsx,ts,tsx,sh,rb,yml,css,json}]
tab_width = 2
indent_size = 2
indent_style = space

