# Binaries for programs and examples
*.exe
*.exe~
*.dll
*.dylib
*.so

# Test binary, built with `cargo test`
*.test

# Rust/Cargo specific files
*target
*Cargo.lock

# IDE specific files
.idea/
.vscode/
*.rs.bk



# todo remove these when deleted python dirty stuff
env 
__pycache__

