# Binaries for programs and examples
*.exe
*.exe~
*.dll
*.dylib
*.so

# Test binary, built with `cargo test`
*.test

# Rust/Cargo specific files
*target
*Cargo.lock

# IDE specific files
.idea/
.vscode/
*.rs.bk

# act cli
.secrets

# db 
data/ 
text_json/

# Ignore package-lock.json in the vercel-ai-chatbot example
examples/typescript/vercel-ai-chatbot/package-lock.json

# Unignore
!screenpipe-vision/lib/libscreenpipe.dylib

